numpy
pandas
matplotlib
cartopy
scikit-learn
pyarrow
pytest
xarray
netcdf4
torch
torchvision
pyyaml
dask
distributed
dask-jobqueue
zarr
jupyter
einops
echo-opt
bridgescaler
segmentation-models-pytorch
haversine
pvlib
pre-commit
torch-harmonics
torch_geometric
ruff
fsspec
gcsfs
metpy
keras
miles-guess