numpy<1.24
pandas
matplotlib
cartopy
scikit-learn
pyarrow
pytest
xarray
netcdf4
torch
torchvision
wandb
pyyaml
cartopy
dask
distributed
dask-jobqueue
zarr
jupyter
einops
echo-opt
bridgescaler
rotary-embedding-torch
segmentation-models-pytorch
vector-quantize-pytorch
haversine
pvlib
